Repository coolguy1771/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, documentation, github, go, deps, renovate, config, test, ci, security

feat(analyzer): implement RBAC analysis capabilities
  .github/workflows/ci.yml
  .github/workflows/security.yml
  cmd/guardrail/analyze.go
  go.mod
  go.sum
  pkg/analyzer/analyzer.go
  pkg/analyzer/mapper.go
  pkg/kubernetes/client.go
  testdata/complex-rbac.yaml
Labels: github, go, deps, config, test, ci, security

Update go.mod
  go.mod
Labels: go, deps

feat(analyzer): refactor RBAC handling to use RBACReader interface
  cmd/guardrail/analyze.go
  pkg/analyzer/analyzer.go
  pkg/kubernetes/client.go
Labels: go

Improves guardrail analysis capabilities
  cmd/guardrail/analyze.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/mapper.go
  pkg/kubernetes/client.go
  pkg/kubernetes/context.go
  renovate.json
Labels: go, deps, renovate

refactor(kubernetes): reorganize kubeconfig loading and improve context error handling
  pkg/kubernetes/context.go
  renovate.json
Labels: go, deps, renovate

feat(analyzer): extend RBAC resource matching to include cluster-scoped resources
  pkg/analyzer/mapper.go
Labels: go

feat(analyzer): expand resource access verbs to include 'bind', 'escalate', and 'impersonate'
  pkg/analyzer/mapper.go
Labels: go

cleanup linting errors
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  cmd/guardrail/analyze.go
  cmd/guardrail/main.go
  cmd/guardrail/validate.go
  go.mod
  go.sum
  pkg/analyzer/analyzer.go
  pkg/analyzer/mapper.go
  pkg/kubernetes/client.go
  pkg/parser/parser.go
  pkg/reporter/reporter.go
  pkg/validator/validator.go
Labels: github, go, deps, config, ci, security

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - .gitignore
  - .goreleaser.yml
  - Dockerfile
  - LICENSE
  - README.md
  - Makefile

# Add 'documentation' label to any documentation changes
documentation:
  - docs/**/*
  - "*.md"

# Add 'github' label to changes in GitHub templates
github:
  - .github/**/*

# Add 'go' label to changes in Go files
go:
  - "**/*.go"
  - go.mod
  - go.sum

# Add 'deps' label to dependency changes
deps:
  - go.mod
  - go.sum
  - renovate.json

# Add 'renovate' label to renovate config changes
renovate:
  - renovate.json
  - .github/workflows/renovate.yml

# Add 'config' label to configuration changes
config:
  - configs/**/*
  - "**/*.yaml"
  - "**/*.yml"

# Add 'test' label to test changes
test:
  - "**/*_test.go"
  - testdata/**/*

# Add 'ci' label to CI/CD changes
ci:
  - .github/workflows/**/*
  - .goreleaser.yml
  - Dockerfile

# Add 'security' label to security-related changes
security:
  - .github/workflows/security.yml
  - pkg/validator/**/*
