Repository coolguy1771/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, tests, ci, config, security, cli, kubernetes, dependencies

.github/labeler.yml:

# Configuration for labeler action
# This file defines which labels to apply to PRs based on changed files

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"
          - ".github/*.md"

# Go code changes
go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "go.mod"
          - "go.sum"

# Test changes
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
          - "testdata/**"

# CI/CD changes
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".goreleaser.yml"
          - "Dockerfile*"
          - "Makefile"

# Configuration changes
config:
  - changed-files:
      - any-glob-to-any-file:
          - "configs/**"
          - "**/*.yaml"
          - "**/*.yml"

# Security-related changes
security:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/validator/**"
          - "pkg/analyzer/**"
          - "SECURITY.md"

# CLI changes
cli:
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/**"
          - "pkg/cli/**"

# Kubernetes-related changes
kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/kubernetes/**"
          - "pkg/parser/**"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"
          - ".github/dependabot.yml"

chore: refactor Dockerfile to use distroless base image and simplify setup
  .github/workflows/release.yml
  Dockerfile.goreleaser
Labels: ci, config

chore: enhance CI workflow with Go setup and coverage reporting
  .github/workflows/ci.yml
  .goreleaser.yml
  Makefile
Labels: ci, config

chore: update CI permissions and remove create-release-notes job from release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci, config

chore: remove unused labeler workflow and update permissions in PR validation
  .github/workflows/labeler.yml
  .github/workflows/pr-validation.yml
  docs/TESTING.md
  docs/nist-rules.md
Labels: documentation, ci, config

chore: remove deprecated configuration files and scripts
  .claude/settings.local.json
  features.md
  scripts/create-labels.sh
Labels: documentation

chore: update license information from MIT to Apache 2.0
  README.md
Labels: documentation

feat(rbac): implement security audit phases 1-4
  .github/workflows/go-lint-test.yml
  .github/workflows/rbac-validate.yml
  .goreleaser.yml
  .pre-commit-hooks.yaml
  Dockerfile
  Makefile
  README.md
  cmd/guardrail/analyze.go
  cmd/guardrail/analyze_test.go
  cmd/guardrail/main.go
  cmd/guardrail/main_test.go
  cmd/guardrail/validate.go
  cmd/guardrail/version.go
  cmd/guardrail/who_can.go
  configs/guardrail.yaml
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/analyzer/builtin_roles.go
  pkg/reporter/reporter.go
  pkg/reporter/reporter_test.go
  pkg/validator/rules.go
  pkg/validator/validator.go
  pkg/validator/validator_test.go
Labels: documentation, go, tests, ci, config, security, cli

chore: update Go version and dependencies in CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/rbac-validate.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Dockerfile
  go.mod
Labels: go, ci, config, dependencies

fix: enhance RBAC validation and update documentation
  .github/workflows/go-lint-test.yml
  .github/workflows/rbac-validate.yml
  .pre-commit-hooks.yaml
  README.md
  cmd/guardrail/main.go
  cmd/guardrail/who_can.go
  pkg/analyzer/builtin_roles.go
  pkg/reporter/reporter.go
  pkg/reporter/reporter_test.go
Labels: documentation, go, tests, ci, config, security, cli

chore: update Dockerfile and GitHub Actions workflow
  .github/workflows/rbac-validate.yml
  Dockerfile
Labels: ci, config
